.chat-menu__content__search {
  background-color: rgb(247, 247, 247);
  padding: 20px;
}

.chat-menu__content__search input {
  border: none;
  border-radius: 10px;
  padding: 4px 12px;
}

.chat-menu {
  position: relative;
  min-width: 300px;
  flex-basis: 30%;
  height: 100%;
  border-right: 1px solid rgba(204, 204, 204, 0.747);
  overflow-y: auto;
}

.chat-menu__content,
.chat-menu__content__list {
  width: 100%;
}

.chat-menu__content h3 {
  margin-top: 20px;
}

.chat-menu__content__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
