.error {
  width: 200px;
  background-color: rgb(221, 52, 0);
  color: white;
  padding: 20px;
  border-radius: 5px;
  position: fixed;
  z-index: 800;
  bottom: 20px;
  right: 20px;
}

.error span {
  position: absolute;
  top: 2px;
  right: 8px;
}