.explore-item {
  width: 100%;
}

.explore-item:not(:last-child) {
  padding-bottom: 2px;
}

.explore-item__content {
  display: flex;
  flex-direction: row;
}

.explore-item__content div {
  flex-basis: 33.33%;
}

.explore-item__content div:not(:last-child) {
  margin-right: 2px;
}

.explore-item__content div {
  width: 100%;
  height: 206px;
  cursor: pointer;
}

.explore-item__content div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
